build/
lib/
gen/
classes/
protstore/
.classpath
.project
test-reports*/
/util/stability-test-tools/performance/
*result.tmp
*result.file.txt
/util/stability-test-tools/provisioning/
/util/stability-test-tools/stability/
bin
deploy.personal.properties*
*~
.sonar/
.groovy/
.gradle/
.settings/
web-cc/.cache
web-cc-bt/.cache
bt.*.properties
.pmd
module.info
*.orig
emo-cc.properties
stk-bt/key_wrapping_certificate.crt
stk-bt/keystore
.cache
pmd-eclipse.log
reportProperties.xml
*.iml
.idea/
logger.properties
/test.properties
gradle-app.setting
bt_keystore.jks
